*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

header button{
    color:white;
    border: none;
    background-color: black;
    border-radius: 7px;
    padding: 10px;
}

header button:hover{
    background-color: #E06330;
    cursor: pointer;
    border:none;
}
header 